<launch>

  <!-- The ditance map plugin type. -->
  <arg name="distance_map_type"/>

  <!-- The input topic. -->
  <arg name="topic_in" default="/map"/>

  <node pkg="distance_map_node" type="distance_map_node" name="distance_map_node"
        output="screen">
    <param name="distance_map_type" value="$(arg distance_map_type)" />
    <remap from="/map" to="$(arg topic_in)" />
  </node>

</launch>
